<script setup lang="ts">

</script>

<template>
  <div class="apps-box">
    <h1>子应用如下：</h1>
    <!-- 
      name(必传)：应用名称
      url(必传)：应用地址，会被自动补全为http://localhost:3000/index.html
      baseroute(可选)：基座应用分配给子应用的基础路由，就是上面的 `/my-page`
     -->
    <micro-app name='case-cars-manage-platform' url='http://localhost:8001' baseroute='/sub-apps' class="micro-app"></micro-app>
  </div>
</template>
<style lang="scss" scoped>
.apps-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 70px 15px 20px 15px;
  h1{
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
  }
  .micro-app{
    height: 100%;
    position: relative;
  }
}
</style>
