<script setup lang="ts">
import WelcomeItem from '@/components/WelcomeItem.vue'
import { useRouter } from "vue-router";
const router = useRouter();
const handleSubApp = (path: string) => {
  router.push({path})
}
</script>

<template>
  <main>
    <h1>基座应用</h1>
    <WelcomeItem>
      <template #heading><div @click="handleSubApp('/sub-apps/index')">地图</div></template>
    </WelcomeItem>
    <WelcomeItem>
      <template #heading><div @click="handleSubApp('/sub-apps/monitorScheme')">报警方案</div></template>
    </WelcomeItem>
    <WelcomeItem>
      <template #heading><div @click="handleSubApp('/sub-apps/vehicleControl')">车辆布控</div></template>
    </WelcomeItem>
    <WelcomeItem>
      <template #heading><div @click="handleSubApp('/sub-apps/digitalSummit')">数字峰会监控</div></template>
    </WelcomeItem>
  </main>
</template>
<style lang="scss" scoped>
h1{
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 10px;
    left: 100px;
    width: 100%;
  }
</style>